body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #838994;
letter-spacing: 0.03em;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}
.top-navigation > .content {
    height: 4.375rem;
    width: 65%;
    margin: 0 auto;
}
.top-navigation .logo {
    height: 4.375rem;
}
.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
}
.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
/*Photo Header*/

.header {
	position: relative;
    font-size: 18px;
    margin: 332px auto 332px auto;
    display: block;
    width: 384px;
    text-align: center;
    font-weight: lighter;
}
section {
    width: 100%;
    height: 735px;
    background: url("../images/first-background copy.jpg") 50% 0 no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    color: white;

}

button {
	background-color: #f15a29;
	border-style: none;
	border-color: #f15a29;
	border-radius: 4px;
	color: white;
	padding: 15px 30px;
	font-size: 18px;
}

button:hover {
    background-color: #f14c17;
}

